.ota{
    width: 1180px;
    height: 393px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    margin: auto;
}

.box{
    margin-top: -370px;
    margin-left: 39%;
    
}
.box1{
    width: 390px;
    height: 60px;
    border-radius: 15px;
    margin-left: 150px;
    margin-top: 37px;
    border: 1px;
    background-color: rgb(172, 179, 176);
}
.box2{
    width: 390px;
    height: 60px;
    border-radius: 15px;
    border: 1px;
    margin-left: 50px;
    background-color:rgb(172, 179, 176) ;
}
.ota4{
   width: 950px;
   height: 100px;
   border-radius: 15px;
   border: 1px;
   background-color: rgb(172, 179, 176);
   margin-top: 30px;
   margin-left: 100px;
}
.box5{
    width: 169.49px;
    height: 42.06px;
    border-radius: 15px;
    margin-top: 18px;
    margin-left: 500px;
    color: aliceblue;
    text-align: center;
    background-color:rebeccapurple ;
} 
@media screen amd (max-width: 900px) {
    footer{
        
    }
}